<!-- <ul>
    <li *ngFor="let user of listData">{{ user.first_name }}</li>
</ul> -->

<nz-table #basicTable [nzData]="listData">
    <thead>
        <tr>
            <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple"
                [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
                {{ column.name }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of basicTable.data">
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.favourite_movie }}</td>
            <td>{{ formatService.convertBoolean(user.likes_popcorn) }}</td>
            <td>{{ user.gender }}</td>
        </tr>
    </tbody>
</nz-table>