<nz-layout>
    <nz-sider nzCollapsible nzWidth="200px">
        <img class="logo" src="assets/afsLogo.svg">
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="Home" nzIcon="home">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/home/users" routerLinkActive="active">
                            Users
                        </a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/home/employees" routerLinkActive="active">
                            Employees
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header></nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>Samuel Shum ©2020 </nz-footer>
    </nz-layout>
</nz-layout>